/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.color-white{
    color: #fff;
}

.color-black{
    color: #000;
}

.bg-color-blue{
    background-color: #0061ff;
}

 .bg-color-lightblue{
     background-color: #b4d0e7;
 }

 a.special-blue-button{
    padding: 5px 10px;
    color: #fff;
    background-color: #0061ff;
    text-decoration: none;
 }

/* Header */
header{
    height: 800px;
}

section.main-header{
    height: 80px;
    line-height: 80px;
    min-width: 1250px;
    font-weight: 600;
}

img{
    vertical-align: middle;
    padding-bottom: 7px;
}

ul, li{
    display: inline-block;
}

section.main-header ul li a{
    text-decoration: none;
    color: #000;
    margin: 0 20px;
}

section.second-header-section{
    padding: 100px 150px 170px;
}

h1{
    font-size: 75px;
}

#header-paragraph{
    padding: 30px 990px 0 0;
}

section.second-header-section div:first-of-type{
    margin-top: 30px;
}

section.second-header-section > div div:nth-of-type(2){
    margin: 15px 0 30px 0;
}

section.second-header-section div:nth-of-type(2) > a{
    text-decoration: none;
}

div.jumbotron{
    height: 550px;
    background-image: url(./img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 260px;
    left: 425px;
    z-index: 1;
}
/* Main */
main{
    height: 700px;
}

/* Footer */